// Variáveis de cores
$cor-primaria: #4e54c8;
$cor-secundaria: #00b894;
$cor-terciaria: #f9ca24;
$cor-fundo: #f7f7f7;
$cor-texto: #333;
$cor-preta: #2d2d2d;
$cor-branca: #fff;



//Variaveis de espaçamento
$largura-maxima: 1200px;
$espacamento-margin: 1rem;


//Variaveis de responsividade
$font-html-500: 14px;
$font-banner-titulo: 1.5rem;
$font-servico-titulo: 1.1rem;
$fonte-outros-titulos: 1.3rem;

//Variaveis de fontes
$font-weight: 600;